
<div class="row d-flex justify-content-start align-items-center mt-sm-5">
  <div class="col-lg-5 col-10">
    <div id="circle" style="display: none;"></div>
    <div class=""><%= image_tag 'roxo.png', class: 'login-logo ml-5' %> </div>
  </div>
  <div class="col-lg-4 offset-lg-2 col-md-6 offset-md-3">
    <div class="pt-4">
      <h1>CADASTRAR</h1>
    </div>
    <div class="mt-3 mt-md-5">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="d-flex flex-column pb-3">
        <%= f.input :kind, label: 'Tipo de Usuário', as: :radio_buttons, collection: User::KIND,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "kind" }%>
      </div>
      <div class="d-flex flex-column pb-3">
        <%= f.input :prefecture, collection: User::PREFECTURE,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "prefecture" }%>
      </div>
      <div class="d-flex flex-column pb-3">
        <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" }%>
      </div>
      <div class="d-flex flex-column pb-3">
        <%= f.input :password,
        required: true,
        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="d-flex flex-column pb-3">
        <%= f.input :password_confirmation,
        required: true,
        input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "CADASTRAR", class: "btn btn-primary btn-block" %>
      </div>
    </div>
    <div class="register mt-5">
      <%= render "devise/shared/links" %>
    </div>
    <% end %>
  </div>
</div>


