<div class="container">
<div class="row gutters">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
<div class="card-profile h-100">

  <div class="card-body">
    <div class="account-settings">
      <div class="user-profile">
        <div class="user-avatar">
          <%= image_tag 'roxo.png' %>
        </div>
        <h5 class="user-name"><%= @user.name %></h5>
        <h6 class="user-email"><%= @user.email %></h6>
      </div>
      <div class="about">
        <h5></h5>
        <p></p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
<div class="card-profile h-100">
  <div class="card-body">
        <h3 class="mb-2 text-primary text-center">Personal Details</h3>
      <%= simple_form_for @user, html: {novalidate: true, class: "no-bs-validation w-100 mx-auto"}  do |f| %>
          <%= f.input :name, label: t('Full Name'), class:"col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" %>
          <%= f.input :email, label: t('Email'), class:"col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" %>
          <%= f.input :phone, label: t('Phone') %>
          <%= f.input :prefecture, label: t('prefecture'), collection: Post::PREFECTURE %>

          <button type="button" id="submit" name="submit" class="btn btn-secondary">Reset</button>
          <%= f.submit @user.persisted? ? t('save') : t('create'), class: "btn btn-primary" %>
          <% end %>

          <%= link_to t('user_destroy'), user_path(current_user), class: "text-decoration-none", method: :delete, data: { confirm: 'Você tem certeza? Isso apagara sua conta!' } %>
  </div>
</div>
</div>
</div>
</div>

