
<% if current_user.kind == nil || current_user.kind == "" %>

<div class="content">
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      <%= t('choose') %>
    </button>
  </div>
</div>

<%= render 'shared/modal' %>

<% elsif current_user.kind == "Usuário" %>

<%= render 'users/user_profile' %>
<% else %>

<p><%= t('company') %>: <%= @user.name %> </p>
<p><%= t('contact_phone') %>: <%= @user.phone %> </p>
<p><%= t('prefecture') %>: <%= @user.prefecture %> </p>
<p><%= t('address') %>: <%= @user.address %> </p>
<p><%= t('about_company') %>: <%= @user.note %> </p>
<div class="d-flex justify-content-around">
  <%= link_to t('user_edit'), edit_user_path(@user), class: "text-decoration-none" %>

</div>
<% end %>

