<div class="footer-dark">
  <footer>
    <div class="row">
      <div class="col-md-6 col-lg-3 item text">
        <h3><%= t('about') %></h3>
        <p><%= t('about_line_1') %> <strong><%= pluralize(User.count, "#{t('user')}") %></strong>. <br>
        <%= t('about_line_2') %>.</p>
      </div>
       <div class="col-md-6 col-lg-3 item text">
         <h3><%= t('Meet Our Team') %></h3>
        <div class="co-founder mb-4 d-flex">
            <img class="img mr-4" src="/assets/Cassiano.png" alt="">
          <div>
            <p>Cassiano Tadao Yasumitsu</p>
            <div class="introduction"><p><%=t('Write your introduction hereeeeeeeeeeeeeeee')%></p></div>
          </div>
        </div>
        <div class="co-founder mb-4 d-flex">
            <img class="img mr-4" src="/assets/farrah.png" alt="">
          <div>
            <p>Farrah WY Kwok</p>
            <div class="introduction"><p><%=t('Always listen feedback to achieve user-needs.')%></p></div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 item text">
        <form
        action="https://formspree.io/f/xayayvpn"
        method="POST"
        >
        <fieldset class="form-group">
          <input type="email" name="_replyto" class="form-control" id="exampleInputEmail1" placeholder="<%= "#{t('enter_email')}" %>">
        </fieldset>
        <fieldset class="form-group">
          <textarea name="message" class="form-control" id="exampleMessage" placeholder="<%= "#{t('message')}" %>"></textarea>
        </fieldset>
        <fieldset class="form-group text-xs-right">
          <button type="submit" class="btn-border-white btn-lg"><%= t('send') %></button>
        </fieldset>
      </form>
    </div>

    <div class="col item social">
      <a href="https://www.facebook.com/u.incomum", target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/CYasumitsu", target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.youtube.com/channel/UCSy4sAi5QDUV8TUuR09TqXw", target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="https://www.instagram.com/u.incomum/", target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <p class="copyright">© 2021 Usuário Incomum All Rights Reserved</p>
</footer>
</div>
