<nav class="navbar navbar-expand-sm navbar-light bg-white w-100">
  <div class="container-fluid">
    <%= link_to "Home", authenticated_root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Perfil', user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Busca', posts_path, class: "nav-link" %>
        </li>
        <li class="nav-item d-none">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <%= link_to "Posts", new_user_post_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Exit', destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <!-- <li class="dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('language') %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to '🇬🇧 English', params.merge(locale: 'en').permit(:locale), class: "nav-link" %></li>
            <li><%= link_to '🇧🇷 Português', params.merge(locale: 'pt-BR').permit(:locale), class: "nav-link" %></li>
            <li><%= link_to '🇪🇸 Español', params.merge(locale: 'es').permit(:locale), class: "nav-link" %></li>
            <li><%= link_to '🇯🇵 日本語', params.merge(locale: 'ja').permit(:locale), class: "nav-link" %></li>
          </ul>
        </li> -->
        <% else %>
        <li class="nav-item">
          <%= link_to "Q&A", question_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('login'), new_user_session_path, class: "nav-link" %>
        </li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('language') %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- <li><%= link_to '🇬🇧 English', params.merge(locale: 'en').permit(:locale), class: "nav-link" %></li>
            <li><%= link_to '🇧🇷 Português', params.merge(locale: 'pt-BR').permit(:locale), class: "nav-link" %></li>
            <li><%= link_to '🇪🇸 Español', params.merge(locale: 'es').permit(:locale), class: "nav-link" %></li>
            <li><%= link_to '🇯🇵 日本語', params.merge(locale: 'ja').permit(:locale), class: "nav-link" %></li> -->
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
