<h5 class="fonts"><%= t('Most_Popular_Company_Posting')%></h5>
<% @posts.each do |post| %>
  <div class="card-container">

  <div class="card-banner">
    <div class="card-company">
        <h5><%= post.company %></h5>
    </div>
  </div>

  <div class="card-body">
    <div class="card-title">
      <h3><%= t('title') %>: <%= post.title %></h3>
    </div>
    <div class="card-summary">
      <%= link_to post_path(post), class: "text-decoration-none" do %>
        <p><%= t('salary') %>: ¥ <%= post.value %> /hr</p>
        <p><%= t('prefecture') %>: <%= post.prefecture %></p>
        <p><%= t('description') %>: <%= simple_format post.description %></p>
      <% end %>
    </div>
    <!-- <div class="card-tags">
      <ul>
        <li><a href="#">Tokyo</a></li>
        <li><a href="#">Hotel</a></li>
        <li><a href="#">Full-Time</a></li>
      </ul>
    </div> -->
  </div>

  <div class="card-footer">
    <ul>
      <li class="published-date"><%= t('posted') %> <%= post.created_at.strftime("%F") %> </li>
      <li id="share" class="counting-icon"><a herf="#" data-toggle="modal" data-target="#shareModal"><i class="fas fa-share-square"> <shares-count :user-id="<%= current_user.id %>" :post-id="<%= post.id %>">Share</shares-count></i><span class="numero">8</span></a></li>
          <%= render partial: "posts/share_modal", locals: {post:post} %>



      <li class="counting-icon"><a href="#"><i class="fas fa-folder-plus">Keep</i><span class="numero">3</span></a></li>
    </ul>
  </div>

</div>
<% end %>
