 <%= render 'shared/navbar' %>
 <div class="container p-5 mt-5 mb-5">

   <div class="text-center">
    <h1>Desenvolvido para a comunidade brasileira no Japão!</h1>
    <h1>Com o objetivo de ajudar as pessoas a encontrar um emprego.</h1>
    <p>Obrigado a todos que se cadastraram! Mande um email para contato@usuarioincomum.com se vc tiver alguma sugestão!</p>
    <p>Deixe um recado para o Usuário Incomum. Clique em 'Posts'</p>
    <p>Em breve já teremos a opção de criar uma vaga de emprego e de busca pela vaga.</p>
  </div>


  <div class="row justify-content-around">
    <% @posts.each do |post| %>
    <div class="card m-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= post.contact %></h6>
        <p class="card-text"><%= simple_format post.note %></p>
        <!-- <a href="#" class="card-link"></a>
          <a href="#" class="card-link">Another link</a> -->
          <% if current_user.id == post.user_id %>
          <%= link_to "Apagar", post_path(post),
          method: :delete,
          data: { confirm: 'Tem certeza?' },
          class: 'btn btn-danger btn-sm' %>
          <% else %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

  </div>

  <div class="footer">
    <p> <%= pluralize(User.count, 'Usuário') %> </p>
  </div>

<!-- <div class="container p-5">
  <ul class="list-group">
    <% @users.order(:name).each do |user| %>
    <li class="list-group-item text-center">
      <%= user.name %> / <%= user.email.gsub(/.{0,4}@/, '####@') %>
    </li>
    <% end %>
  </ul>
</div> -->
