<% if current_user.kind == "Empresa" %>
  <% if current_user.name.blank? %>
  <div class="text-center"><%= t('setup_profile_message')%>
    <p><%= link_to t('Your profile page'), user_path(current_user) %></p>
  </div>

  <% else %>

    <%= simple_form_for [user, post] do |f| %>
    <%= f.input :title, label: t('title') %>
    <%= f.input :service, label: t('speak'), collection: Post::NIHONGO %>
    <%= f.input :turn, label: t('read'), collection: Post::LEITURA %>
    <%= f.input :description, label: t('job_description') %>
    <%= f.input :prefecture, label: t('prefecture'), collection: Post::PREFECTURE %>
    <%= f.input :address, label: t('job_local') %>
    <%= f.input :value, label: t('salary') %>
    <%= f.input :company, label: t('company') %>
    <%= f.input :contact, label: t('contact') %>
    <%= f.input :phone, label: t('contact_phone') %>
    <%= f.input :note, label: t('more_information') %>
    <%= f.submit post.persisted? ? t('edit') : t('create'), class: 'btn btn-outline-primary w-100' %>
  <% end %>
  <% end %>
<% else %>
  <div class ="text-center"><%= t('unauthorized_message')%>
  <p><%= link_to t('Your profile page'), user_path(current_user) %></p>
  </div>
<% end %>



