    <% @posts.each do |post| %>
    <div class="card-container">

    <%= link_to post_path(post), class: "text-decoration-none" do %>
    <div class="card-banner">
      <div class="card-company">
          <h5><%= post.company %></h5>
      </div>
    </div>

    <div class="card-body">
      <div class="card-title">
        <h3><%= post.title %></h3>
      </div>
      <div class="card-summary">
          <p><%= t('salary') %>: ¥ <%= post.value %> /hr</p>
          <p><%= t('prefecture') %>: <%= post.prefecture %></p>
          <p><%= t('description') %>: <%= simple_format post.description %></p>
        <% end %>
      </div>
        <!-- <div class="card-tags">
          <ul>
            <li><a href="#">Tokyo</a></li>
            <li><a href="#">Hotel</a></li>
            <li><a href="#">Full-Time</a></li>
          </ul>
        </div> -->
      </div>

    <div class="card-footer">
      <ul>
        <li class="published-date"><%= t('posted') %> <%= post.created_at.strftime("%F") %> </li>
        <li class="counting-icon"><shares-count data-toggle="modal" data-target="#shareModal" :post-id="<%= post.id %>"></shares-count></li>
        <%= render partial: "posts/share_modal", locals: {post:post} %>
        <li class="counting-icon">
        <% if current_user.nil? %>
          <%= link_to new_user_session_path do %>
          <i class="fas fa-folder-plus">Keep</i><span class="numero"><%= post.keeps.count %></span>
          <% end %></li>
        <% else %>
          <keeps-count :post-id="<%= post.id %>" :user-id="<%= current_user.id %>"></keeps-count></li>
        <% end %>
      </ul>
    </div>
    </div>
    <% end %>

