<%= render 'shared/navbar' %>
<div class="row justify-content-around">
    <% @posts.each do |post| %>
    <div class="card m-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= post.contact %></h6>
        <p class="card-text"><%= simple_format post.note %></p>
        <!-- <a href="#" class="card-link"></a>
          <a href="#" class="card-link">Another link</a> -->
          <% if current_user.id == post.user_id %>
          <%= link_to "Apagar", post_path(post),
          method: :delete,
          data: { confirm: 'Tem certeza?' },
          class: 'btn btn-danger btn-sm' %>
          <% else %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
