<%= render 'shared/navbar' %>

<div class="container p-5 mt-5 mb-5">
  <div class="row justify-content-around">
    <% @posts.shuffle.each do |post| %>
    <div class="card text-center" style="width: 18rem;">
      <%= link_to post_path(post), class: "text-decoration-none" do %>
      <div class="card-header">
        <%= post.title %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= post.prefecture %></h5>
        <p class="card-text"><%= simple_format post.description %></p>
        <p class="card-text">¥ <%= post.value %></p>
      <% end %>
      </div>
      <div class="d-flex justify-content-between card-footer text-muted ">
        Postado em <%= post.created_at.strftime("%F") %> <br>
        <% if user_signed_in? %>
          <% if current_user.id == post.user_id %>
          <%= link_to "🗑", post_path(post),
          method: :delete,
          data: { confirm: 'Tem certeza?' } %>
          <% else %>
          <%end%>
        <% else %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
