<div class="sub-banner">
    <%= render 'shared/sub_search_bar' %>
</div>
<div class="container">
  <div class="content">
    <% if @search == "" %>
    <h4 class="fonts"><%= @posts.count %> <%= t('jobs posted here')%></h4>
    <% else %>
    <h4 class="fonts"><%= @posts.count %> <%= t('jobs found for keyword:')%> <%= @search %></h4>
    <% end %>
<%= render 'posts/post_index' %>
  </div>
</div>

