<div class="container p-5 mt-5 mb-5">
  <div class="card text-center">
    <div class="card-header">
      <h2> <%= @post.company %> </h2>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @post.title %></h5>
      <p class="card-text">
        <%= @post.service %><br>
        <%= @post.description %><br>
        Endereço: <%= @post.prefecture %><br>
        <%= @post.address %><br>
        Valor por hora ¥ <%= @post.value %><br>
        Contato: <%= @post.contact %><br>
        Telefone: <%= @post.phone %><br>
        Outras informações: <%= @post.note %>
      </p>
      <%= link_to "Voltar", posts_path, class: "btn btn-outline-primary" %>
    </div>
    <div class="card-footer text-muted">
      <p class="card-text">
       Postado em <%= @post.created_at.strftime("%F") %>
      </p>
    </div>
  </div>
</div>
