<div class="card-container">
  <div class="text-center">
    <div class="card-banner p-2">
      <div class="d-flex justify-content-between">
        <%= link_to "🔙", posts_path, class: "text-decoration-none" %>
        <h2> <%= @post.company %> </h2>
        <p></p>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @post.title %></h5>
      <p class="card-text">
        <%= t('japanese_level') %>: <%= @post.service %><br>
        <%= t('read') %>: <%= @post.turn %><br><br>
        <%= t('job_description') %>: <%= @post.description %><br><br>
        <%= t('address') %>: <%= @post.prefecture %><br>
        <%= @post.address %><br><br>
        <%= t('salary') %> ¥ <%= @post.value %><br><br>
        <%= t('contact') %>: <%= @post.contact %><br>
        <%= t('contact_phone') %>: <%= @post.phone %><br>
        <%= simple_format @post.note %>
      </p>
      <% if user_signed_in? %>
      <div class="d-flex justify-content-around">
        <% if current_user.id == @post.user_id %>
        <%= link_to t('post_edit'), edit_post_path(@post), class: "text-decoration-none" %>
        <%= link_to t('post_destroy'), post_path(@post), class: "text-decoration-none",
        method: :delete,
        data: { confirm: t('are_you_sure') } %>
        <% else %>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="card-footer text-muted">
      <p class="card-text">
      <%= t('ad') %> <%= @post.hits %> <%= t('views') %>,   <%= @post.shares.count %> <%= t('shares') %>. <br>
      <%= t('posted') %> <%= @post.created_at.strftime("%F") %>
      <clipboard  style="width:30%;margin: auto;" class="mt-3" url="https://www.usuarioincomum.com/posts/<%= @post.id %>"></clipboard>
      <sharethis  url="https://www.usuarioincomum.com/posts/<%= @post.id %>" :post-id="<%= @post.id %>"></sharethis>
    </p>
   </div>
  </div>
</div>


